* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .repo-row {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 8px;
  }

  .repo-item {
    flex: 1;
    margin: 0;
    text-align: center;
  }

  .repo-item h2, .repo-item p, .repo-item a, .repo-item button {
    margin: 0;
  }

  .repo-item button {
    margin-top: 8px;
  }

  .branch-row {
    padding: 8px;
  }

  .branch-item {
    flex: 1;
    margin: 0;
  }